<phpunit 
    backupGlobals="true"
    backupStaticAttributes="false"
    bootstrap="unit/init.php"
    cacheTokens="false"
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    printerClass="PHPUnit_TextUI_ResultPrinter"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    strict="false"
    verbose="false">

    <filter>
        <blacklist>
            <directory>../vendor</directory>
            <directory>../test</directory>
            <directory>../protected/modules/admin/models/base</directory>
            <directory>../protected/models/base</directory>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-html" target="./results" charset="UTF-8" />
        <log type="coverage-clover" target="./results/clover.xml" charset="UTF-8" />
        <log type="tap" target="./results/logfile.tap"/>
    </logging>

</phpunit>
